.team_picture {
    border-radius: 5px;
}

.under_pic {
    font-size: 13px;
    display: flex;
    justify-content: center;
}

.main_writing {
    font-size: 18px;
    display:flex;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
}

.entire_page {
    margin-bottom: 100px;
}