.safety-report-link{
    background-color: #087990;
    color: white !important;
    font-weight: bold;
    border-radius: 6px;
    padding: 5px 10px !important;
    margin-left: 15px;
}

.navbar{
    background-color: white;
    box-shadow:  0px 10px 12px #dfdfdf
}

.navbar-nav{
    align-items: center;
}

.resources{
    margin-left: 10px;
}

.about {
    margin-left: 10px;
}

.contactUs {
    margin-left:10px;
}