.search-search-bar{
    border-color: rgb(187, 187, 187);
    max-width: 500px;
    height: 40px;
}

.search-search-bar:focus{
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid #ced4da !important;
}

.input-group-search{
    margin-top: 10px;
}