.search-wrapper{
    padding-top: 20px;
    padding-bottom: 30px;
    width: 70%;
}

.search-search-bar{
    border-radius: 10px;
    margin-left: 200px;
    margin-right:200px;
    
    
    border-color: rgb(187, 187, 187);
    outline: none;
}