.entire_page{
    margin-bottom: 1000px;
    
}
.heading {
    font-weight: 800;
    display:flex;
    justify-content: flex-start;
    margin-left: 90px;
    margin-right: 100px;
    margin-top: 100px;
    font-size: 40px;
    align-items: center;
    color: #087990;
   
}

.intro_message {
    font-weight: 400;
    display:flex;
    justify-content: flex-start;
    margin-left: 90px;
    margin-right: 100px;
    align-items: center;
    font-size: 15px;
    color: black;
}
.subheading {
    font-weight: 600;
    display:flex;
    justify-content: flex-start;
    margin-left: 90px;
    margin-right: 100px;
    align-items: center;
    font-size: 15px;
    color: #6C757D;
}

.body {
    display:flex;
    justify-content: flex-start;
    margin-left: 90px;
    margin-right: 500px;
    align-items: center;
    font-size: 15px;
    color: grey;

}
