h1, h3{
    color: #087990; 
    margin-top: 30px !important;
    margin-bottom: 20px !important;
}

.subtitle{
    font-weight: 650;
    color: #6C757D;
}

.row-1, .row-2{
    color: #6C757D;
    margin-top: 40px !important;
}

.link{
    color: #EA868F;
}

.link:hover{
    color: #EA868F;
}

.form-link-button{
    background-color: #EA868F;
    border: none;
    color: white;
    border-radius: 6px;
    padding: 5px 20px;
    box-shadow: none;
    margin-top: 20px;
}
