.beginning-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 70px);

    h1{
        color: #087990;
        font-weight: bolder;
        margin-top: 20px;
    }

    p{
        color: #6C757D;
        margin-top: 20px;
    }
    button{
        background-color: #EA868F;
        border: none;
        color: white;
        border-radius: 6px;
        padding: 5px 20px;
        box-shadow: none;
        margin-top: 20px;
    }

    .link{
        color:#087990;
        font-weight:400;
        text-decoration: underline;
        padding-top: 10px;
    }

    .form-img{
        width: 110px;
    }
}