.App {
  text-align: center;
}

.App-main-div{
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*hide google translate link | logo | banner-frame */
.goog-logo-link,.gskiptranslate,.goog-te-banner-frame,#goog-gt-tt, .goog-te-balloon-frame,div#goog-gt-{
  display: none!important;
}

.goog-te-gadget-icon{
  background-image: none !important;
}
.goog-te-gadget span{
  border-color: #fbc2c6 !important;
}
/*google translate Dropdown */

#google_translate_element select{
background:#f6edfd;
color:#9f9f9f;
border: none;
border-radius:3px;
padding:6px 8px
}

.goog-te-gadget-simple {
  margin: 10px 5px;
  background-color: #EA868F!important;
  font-size: 10pt;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  color: white !important;
  border: none !important;
}

.goog-te-gadget-simple .VIpgJd-ZVi9od-xl07Ob-lTBxed span{
  color: white !important;
  font-size: 14px;
}

.goog-te-gadget-simple .VIpgJd-ZVi9od-xl07Ob-lTBxed {
  color: #EA868F !important;
}