.report-form{
    background-color: rgb(250, 250, 250);
    margin-left: auto;
    margin-right: auto;
    width: 80%;

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;;
    padding: 20px;
}

.form-container{
    background-color: #9381FF;
    padding-top: 30px;
    padding-bottom: 30px;

    p{
        font-weight: 500;
        margin-bottom: 30px;
    }

    h1{
        color: #765eff;
        margin-bottom: 50px;
    }

}

.form-button{
    background-color: #765eff !important;
    border: none !important;
    padding: 12px !important;
    transition: all ease 0.5s !important;
}

.form-button:hover{
    background-color: #3d2aa4 !important;
}

