.empty-cardlist{
    background-color: #087990 !important;
    color: white;
    border: 1px solid #087990;
    height: 200px !important;
    padding-top: 20px;

    .empty-cardlist-footer{
        font-style: italic;
        color: white !important;
        background-color: #087990;
        border-top: #087990;
    }
}