.home-jumbotron{
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: antiquewhite;
}

.home-search-bar{
    padding-top: 200px;
    padding-bottom: 200px;
}