.home-jumbotron-col1{
    height: 600px;
    display: flex;
    padding-left: 300px;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    color: black;
    padding-left: 10% !important;
    padding-top: 5%;
   

}
.home-jumbotron-col2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom:15%;
}

.home-search-bar{
    padding-top: 20px;
    padding-bottom: 20px;
}

.home-img{
    max-width: 80%;
}

.home-jumbotron{
    padding: 0px 100px;
}