.company-main-row{
    padding: 50px 0px;

    .company-name{
        font-size: 40px;
        margin-bottom: 0px;
    }
    .rating{
        font-size: 96px
    }
    .cardlist-button{
        width: 185px;
    }
}

.company-secondary-info{
    background-color: #F8F8F8;
}

.harassment-cases{
    font-size: larger;
}

.pie-chart-div{
    height: 500px;
}

.report-company-button{
    background-color: #087990;
    color: white !important;
    border-radius: 6px;
}