.company-main-row{
    padding: 50px 0px;

    .company-secondary-info{
        border: 1px solid #DEE2E6;
        border-radius: 12px;
    }

    .company-main-info{
        margin-left: 10px;
        border: 1px solid #DEE2E6;
        border-radius: 12px;

        .disclaimer{
            color:#818182;
            margin-bottom: none !important;
        }

    }

    .company-name{
        font-size: 40px;
        margin-bottom: 0px;
    }
    .rating{
        font-size: 96px;
        display: inline;
    }
    .cardlist-button{
        width: 185px;
    }

    .rating-5{
        display: inline;
    }
}



.harassment-cases{
    font-size: larger;
}

.pie-chart-div{
    height: 500px;
}

.report-company-button{
    background-color: #087990;
    color: white !important;
    border-radius: 6px;
}