.entire_page {
    display:flex;
    flex-wrap:wrap;
    padding-bottom: 1000px;
    position:relative;
    overflow: auto;  
}

.heading {
    font-weight: 800;
    justify-content: flex-start;
    margin-left: 90px;
    margin-top: 100px;
    font-size: 40px;
    color: #087990;
}

.main_writing {
    display:flex;
    margin-left: 90px;
    font-size: 15px;
    color: rgb(26, 25, 25);
    flex-wrap:wrap;
    min-width: 600px;
    width:100%;
}

.section2 {
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;

   
}
.team_picture {
    width: 90%;
    height:auto;
    margin-top: 20px;
    border-radius: 5px;
    margin-left: 90px;
    flex-direction:column;
    overflow: auto;
      
}

